.bod {
	width: 100%;
	background-repeat: no-repeat;
	background-color: #C00B66;
}

.page-header {
	background-color: none;
	text-align: center;
}

.firstLetter {
	font-family: Great Vibes;
	font-size: 2em;
}

h1 {
	font-family: Great Vibes;
	font-size: 1.5em;
	color: #fff;
}

.mask {
	height: 80px;
	width: 80px;
}

.page-header h1 {
	-webkit-text-fill-color: #fff;
  	-webkit-text-stroke-color: #000;
  	-webkit-text-stroke-width: 1.00px;
  	font-weight: bold;
}

.row {
	text-align: center;
}

.sqaures {
	margin: 15px;
}

.form h1 {
	-webkit-text-fill-color: #fff;
  	-webkit-text-stroke-color: #000;
  	-webkit-text-stroke-width: 1.00px;
  	font-weight: bold;
}

.shrink {
	height: 60px;
	width: 60px;
	border: solid 4px white;
}
